body{
    background-size: 100% 100%;
    background-attachment: fixed;
}
body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
}

body{
    margin: 0px;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
    background-color: #fff;
}
#layoutDiv {
    display: inline-block;
    color: black;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    /*box-sizing: border-box;*/
}
body{
    display: block;
}
    form {
    display: block;
    margin-top: 0em;
}
    input {
    font-size: 2em;
    color: black;
    border-radius: 20px;
}
    
#carousel-example-generic {
     margin: 0 auto;   
     width: 700px;
}