body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
}

body{
    margin: 0px;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}
#selection{
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 800px;
    text-align:center;
    margin: auto;
}
#category{
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 500px;
    text-align:center;
    margin: auto;
}
#dropdown{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#layoutDiv {
    display: inline-block;
    color: black;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
body{
    display: block;
}
    form {
    display: block;
    margin-top: 0em;
}
    input {
    font-size: 2em;
    color: black;
    border-radius: 20px;
}
    
#carousel-example-generic {
     margin: 0 auto;   
     width: 400px;
}